In [1]:
import numpy as np
import pandas as pd
import pylab as pl
import matplotlib.pyplot as plt
plt.style.use('ggplot')
%matplotlib inline
import seaborn as sns

In [2]:
df=pd.read_csv("ORGANICS.csv", encoding="cp1251")
print(df.shape)
print(df.info())

(22223, 13)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22223 entries, 0 to 22222
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   п»їID            22223 non-null  int64
 1   DemAffl          21138 non-null  float64
 2   DemAge           20715 non-null  float64
 3   DemCluster       21549 non-null  float64
 4   DemClusterGroup  21549 non-null  object
 5   DemGender        19711 non-null  object
 6   DemReg           21758 non-null  object
 7   DemTVReg         21758 non-null  object
 8   PromClass        22223 non-null  object
 9   PromSpend        22223 non-null  float64
 10  PromTime         21942 non-null  float64
 11  TargetBuy        22223 non-null  int64
 12  TargetAmt        22223 non-null  int64
dtypes: float64(5), int64(3), object(5)
memory usage: 2.2+ MB
None

In [3]:
dataWithoutNull = df.dropna()
print(dataWithoutNull)

          п»їID  DemAffl  DemAge  DemCluster DemClusterGroup DemGender  \
0           140     10.0    76.0        16.0               C         U
1           620      4.0    49.0        35.0               D         U
2           868      5.0    70.0        27.0               D         F
3          1120     10.0    65.0        51.0               F         M
4          2313     11.0    68.0         4.0               A         F
...         ...      ...     ...         ...             ...       ...
22216  52830893     13.0    49.0         8.0               B         M
22218  52834058     13.0    65.0         9.0               B         F
22219  52834376     15.0    73.0        34.0               D         U
22220  52837057      9.0    70.0        15.0               B         F
22221  52838096     11.0    66.0         8.0               B         F

           DemReg      DemTVReg PromClass  PromSpend  PromTime  TargetBuy  \
0        Midlands  Wales & West      Gold   16000.00       4.0          0
1        Midlands  Wales & West      Gold    6000.00       5.0          0
2        Midlands  Wales & West    Silver       0.02       8.0          1
3        Midlands      Midlands       Tin       0.01       7.0          1
4        Midlands      Midlands       Tin       0.01       8.0          0
...           ...           ...       ...        ...       ...        ...
22216  South East        London    Silver     500.00       9.0          0
22218  South East        London    Silver    1500.00       5.0          0
22219  South East    S & S East      Gold    6053.06      12.0          0
22220       North     Yorkshire      Gold    6000.00       5.0          0
22221       North        N West    Silver    5000.00       5.0          0

       TargetAmt
0              0
1              0
2              1
3              1
4              0
...          ...
22216          0
22218          0
22219          0
22220          0
22221          0

[16408 rows x 13 columns]

In [4]:
dataAverage = df.fillna(df.mean())
print(dataAverage)

          п»їID  DemAffl  DemAge  DemCluster DemClusterGroup DemGender  \
0           140     10.0    76.0        16.0               C         U
1           620      4.0    49.0        35.0               D         U
2           868      5.0    70.0        27.0               D         F
3          1120     10.0    65.0        51.0               F         M
4          2313     11.0    68.0         4.0               A         F
...         ...      ...     ...         ...             ...       ...
22218  52834058     13.0    65.0         9.0               B         F
22219  52834376     15.0    73.0        34.0               D         U
22220  52837057      9.0    70.0        15.0               B         F
22221  52838096     11.0    66.0         8.0               B         F
22222  52856469      3.0    75.0        53.0               F       NaN

           DemReg      DemTVReg PromClass  PromSpend  PromTime  TargetBuy  \
0        Midlands  Wales & West      Gold   16000.00       4.0          0
1        Midlands  Wales & West      Gold    6000.00       5.0          0
2        Midlands  Wales & West    Silver       0.02       8.0          1
3        Midlands      Midlands       Tin       0.01       7.0          1
4        Midlands      Midlands       Tin       0.01       8.0          0
...           ...           ...       ...        ...       ...        ...
22218  South East        London    Silver    1500.00       5.0          0
22219  South East    S & S East      Gold    6053.06      12.0          0
22220       North     Yorkshire      Gold    6000.00       5.0          0
22221       North        N West    Silver    5000.00       5.0          0
22222  South West        S West      Gold    6000.00       2.0          0

       TargetAmt
0              0
1              0
2              1
3              1
4              0
...          ...
22218          0
22219          0
22220          0
22221          0
22222          0

[22223 rows x 13 columns]

In [5]:
xWitNull=dataWithoutNull[['DemAffl',  'DemAge', 'DemCluster', 'PromSpend', 'PromTime']]
yWitNull=dataWithoutNull.values[::,11]
xAverage=dataAverage[['DemAffl',  'DemAge', 'DemCluster', 'PromSpend', 'PromTime']]
yAverage=dataAverage.values[::,11]
yWitNull=yWitNull.astype('int')
yAverage=yAverage.astype('int')

In [6]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(xWitNull, yWitNull, test_size=0.3)
XA_train, XA_test, yA_train, yA_test = train_test_split(xAverage, yAverage, test_size=0.3)

In [7]:
from sklearn.tree import DecisionTreeClassifier
tree1=DecisionTreeClassifier(max_depth=4, random_state=0)
tree1.fit(X_train, y_train)
tree2=DecisionTreeClassifier(max_depth=4, random_state=0)
tree2.fit(XA_train, yA_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=4, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=0, splitter='best')

In [8]:
from sklearn.tree import export_graphviz

import subprocess

export_graphviz(tree1, out_file='C:/Users/Ренат/Desktop/data_analysis/Homework03/Organics_treeWitNull.dot', 
               rounded = True, proportion = False, 
                precision = 2, filled = True)

export_graphviz(tree2, out_file='C:/Users/Ренат/Desktop/data_analysis/Homework03/Organics_treeA.dot', 
               rounded = True, proportion = False, 
                precision = 2, filled = True)

import pydot
(graphWitNull, ) = pydot.graph_from_dot_file('C:/Users/Ренат/Desktop/data_analysis/Homework03/Organics_treeWitNull.dot')

(graphA, ) = pydot.graph_from_dot_file('C:/Users/Ренат/Desktop/data_analysis/Homework03/Organics_treeA.dot')

graphWitNull.write_png('C:/Users/Ренат/Desktop/data_analysis/Homework03/Organics_treeWitNull.dot')
graphA.write_png('C:/Users/Ренат/Desktop/data_analysis/Homework03/Organics_treeA.dot')

print(tree1.score(X_train, y_train)) 
print(tree1.score(X_test,y_test)) 

print(tree2.score(XA_train, yA_train)) 
print(tree2.score(XA_test,yA_test))

0.800435350457118
0.7986999796871826
0.8038698894317305
0.8027598620068996

In [9]:
### DZ1
### Обучите решающее дерево с параметрами criterion = entropy и max_depth =5.
### Какую точность дает данное дерево на контроле? Визуализируйте разделяющую поверхность.

In [10]:
tree=DecisionTreeClassifier(max_depth=5, criterion='entropy')
tree.fit(X_train, y_train)

print(tree.score(X_train, y_train)) 
print(tree.score(X_test,y_test))

export_graphviz(tree1, out_file='C:/Users/Ренат/Desktop/data_analysis/Homework03/Task1.dot', 
               rounded = True, proportion = False, 
                precision = 2, filled = True)
(graphR, ) = pydot.graph_from_dot_file('C:/Users/Ренат/Desktop/data_analysis/Homework03/Task1.dot')
graphR.write_png('C:/Users/Ренат/Desktop/data_analysis/Homework03/Task1.png')

0.799564649542882
0.7964655697745278

In [11]:
### Выполните предыдущий пункт для разных значений глубины дерева и минимального числа объектов в 
### листе (параметры max_depth и min_samples_leaf). Результаты запишите в виде таблицы.  
### Как эти параметры влияют на вид разделяющей поверхности и точность модели?

In [12]:
datanp = np.zeros((10,10),dtype=float)
for depth in range(1,11):
    for leaf in range(1,11):
        tree=DecisionTreeClassifier(max_depth=depth, min_samples_leaf=leaf)
        tree.fit(X_train, y_train)
        datanp[depth-1,leaf-1]=tree.score(X_train, y_train)
df = pd.DataFrame(data=datanp, index=["1", "2", "3", "4", "5", "6", "7", "8", "9", "10"], 
                  columns=["1", "2", "3", "4", "5", "6", "7", "8", "9", "10"])
df

,1,2,3,4,5,6,7,8,9,10
1,0.758642,0.758642,0.758642,0.758642,0.758642,0.758642,0.758642,0.758642,0.758642,0.758642
2,0.782238,0.782238,0.782238,0.782238,0.782238,0.782238,0.782238,0.782238,0.782238,0.782238
3,0.796865,0.796865,0.796865,0.796865,0.796865,0.796865,0.796865,0.796865,0.796865,0.796865
4,0.800435,0.800435,0.800435,0.800435,0.800435,0.800435,0.800435,0.800435,0.800435,0.800435
5,0.801132,0.801045,0.801045,0.801045,0.801045,0.800958,0.800871,0.800784,0.800784,0.800522
6,0.806356,0.805921,0.805921,0.805921,0.805921,0.805747,0.805485,0.805050,0.805050,0.805050
7,0.813148,0.812712,0.812190,0.811754,0.811145,0.810971,0.810448,0.809926,0.809926,0.809839
8,0.819068,0.817936,0.816892,0.816456,0.816369,0.815324,0.814976,0.814889,0.814628,0.814367
9,0.827688,0.825512,0.823857,0.823335,0.823596,0.822987,0.821332,0.820984,0.820810,0.820461
10,0.837527,0.833174,0.831519,0.829168,0.828994,0.827340,0.826034,0.825773,0.825250,0.823944

In [13]:
### DZ2
### Построить дерево решений для датасетов по вариантам, оформить блокноты с описанием задачи, признаков:
### а) titanic.csv  (Описание https://www.kaggle.com/c/titanic/data)

In [14]:
from IPython.display import Image
from IPython.core.display import HTML

data = pd.read_csv('titanic.csv', encoding="cp1251")
data.info()

x=data[['Pclass',  'Age', 'Siblings/Spouses Aboard', 'Parents/Children Aboard']]
y=data.values[::,0]
y=y.astype('int')

X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.3)

tree=DecisionTreeClassifier(max_depth=3, random_state=1)
tree.fit(X_train, y_train)

export_graphviz(tree, out_file='C:/Users/Ренат/Desktop/data_analysis/Homework03/Task2.dot', 
               rounded = True, proportion = False, 
                precision = 2, filled = True)

(graph, ) = pydot.graph_from_dot_file('C:/Users/Ренат/Desktop/data_analysis/Homework03/Task2.dot')

graph.write_png('C:/Users/Ренат/Desktop/data_analysis/Homework03/Task2.png')

print(tree.score(X_train, y_train))
print(tree.score(X_test, y_test))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 887 entries, 0 to 886
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Survived                 887 non-null    int64
 1   Pclass                   887 non-null    int64
 2   Name                     887 non-null    object
 3   Sex                      887 non-null    object
 4   Age                      887 non-null    float64
 5   Siblings/Spouses Aboard  887 non-null    int64
 6   Parents/Children Aboard  887 non-null    int64
 7   Fare                     887 non-null    float64
dtypes: float64(2), int64(4), object(2)
memory usage: 55.6+ KB
0.7274193548387097
0.6928838951310862